@using DevSpot.Constants;
@model IEnumerable<JobPosting> 

@{
}
<h1 class="text-center m-5">All Developer Jobs</h1>


<div class="list-group">

    @foreach(var jobPosting in Model)
    {
        <div class="list-group-item" id="job-posting-@jobPosting.Id">
            <h3>@jobPosting.Title</h3>
            <h3>@jobPosting.Description</h3>
            <h3><strong>Company:</strong>@jobPosting.Company</h3>
            <h3><strong>Location:</strong>@jobPosting.Location</h3>
            <h3><strong>Posted Date:</strong>@jobPosting.PostedDate.ToShortDateString()</h3>
            <p>Authenticated: @User.Identity.IsAuthenticated</p>
            <p>Username: @User.Identity.Name</p>
            @if (User.IsInRole(Roles.Admin) || User.IsInRole(Roles.Employer))
            {<div>
                    <button onclick="deleteJobPosting(@jobPosting.Id)" class="btn btn-sm btn-danger">Delete</button>
            </div>
            }
        </div>
    }

</div>
@section Scripts{
    <script>
        function deleteJobPosting(id){
            if(confirm("Are you really sure you want to delete this jobposting?"+id)){
                $.ajax({
                    url:"@Url.Action("Delete","JobPostings")/"+id, //Jobpostings/delete/id,
                    type:"delete",
                    success:function(result){
                        $("#job-posting-"+id).remove();
                    },
                    error:function(err){
                        alert("An Error Occured")
                    }
                });
            }
        }
    </script>
}